@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

html, body {
	text-align: justify;
  text-justify: inter-word;
	font-family: lato, arial;
	font-size: 16px;
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

header {
	margin-top: 2rem;
	font-weight: 300;
	font-size: 5rem;
}

section {
	margin-top: 0.5rem;
}

.subtitle {
	font-weight: 300;
	font-size: 2rem;
}

main {
	margin-top: 1rem;
	font-weight: normal;
}

main a {
	text-decoration: underline;
	color: black;
}

.navbar {
	padding: 0;
}

.nav-link {
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	font-weight: 300;
	font-size: 0.9rem;
}

.nav-link:hover {
	text-decoration: underline;
}

.message {
	margin-top: 5rem;
	font-weight: thin;
	font-size: 5rem;
}