@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'lato';
	src: url('fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

html, body {
	text-align: justify;
  	text-justify: inter-word;
	font-family: lato, arial;
	background-color: #f7f7f7;
	font-size: 16px;
	min-height: 100%;
	position: relative;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

header {
	margin-top: 2rem;
	font-weight: 300;
	font-size: 5rem;
	line-height: 5rem;
}

section {
	margin-top: 0.5rem;
}

.container-fluid {
	padding-bottom: 5rem;
}

.first-letter {
	font-weight: bold;
}

.subtitle {
	font-weight: 300;
	transition-duration: 0.2s;
	font-size: 1.8rem;
}

main {
	margin-top: 1rem;
	font-weight: normal;
}

main a {
	text-decoration: underline;
	color: black;
}

.navbar-toggler {
	border: none;
}

.navbar {
	padding: 0;
}

.navbar-collapse {
	margin-bottom: 10px;
}

.navbar-collapse.collapse .nav-link, .navbar-collapse.show .nav-link, .navbar-collapse.collapsing .nav-link {
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	font-weight: 300;
	font-size: 0.9rem;
}

.nav-link::first-letter {
	font-weight: bold;
}

.nav-link:hover {
	text-decoration: underline;
}

.nav-row {
	background-color: #f7f7f7;
}

.fake-nav {
	height: 1px;
}

.nav-sticky {
	-webkit-box-shadow: 0px 7px 7px -6px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 7px 7px -6px rgba(0,0,0,0.25);
	box-shadow: 0px 7px 7px -6px rgba(0,0,0,0.25);
}

.message {
	margin-top: 5rem;
	font-weight: thin;
	font-size: 5rem;
}

.slide-down {
	opacity: 0;
	transform: translate(0%, 25%);
}

.slide-up {
	opacity: 0;
	transform: translate(0%, -25%);
}

footer {
	padding-top: 1rem;
	width: 100%;
	height: 3rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: black;
	background-color: #eceaea;
}

footer .container-fluid {
	padding-bottom: 0;
}

footer .footer-left {
	text-align: left;
}

footer .footer-right {
	text-align: right;
}

footer a {
	color: #6b6b6b;
}

footer a:hover{
	color: black;
	text-decoration: none;
}